<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FrankenStatus</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/public/tuktuk.css">
    <link rel="stylesheet" href="/public/tuktuk.theme.css">
    <!-- TUKTUK.WIDGETS -->
    <link rel="stylesheet" href="/public/tuktuk.icons.css">
</head>
<body class="text thin">

    <section class="bck darkest landing text center color white">
        <div class="row">
            <div class="column_10 offset_1">
                <h1><strong>Franken</strong>Status</h1>
                <h2 class="margin-bottom">Server status, Arduino style</h2>
            </div>
        </div>
    </section>

    <section class="bck theme padding text center ">

        <div class="row padding-top">
            <div class="column_4">
                <h2 class="icon bar-chart"></h2>
                <h5 class="text normal">Eyewitness News</h5>
		<table>
			<tbody>
				<tr>
					<th>CPU</th>
					<td>55%</td>
				</tr>
				<tr>
					<th>RAM</th>
					<td>60%</th>
				</tr>
				<tr>
					<th>Apdex</th>
					<td>0.8</td>
				</tr>
				<tr>
					<th>Users</th>
					<td>388</td>
				</tr>
			</tbody>
		</table>
            </div>
            <div class="column_4">
                <h2 class="icon bar-chart"></h2>
                <h5 class="text normal">Kfm</h5>
                <table>
                        <tbody>
                                <tr>
                                        <th>CPU</th>
                                        <td>55%</td>
                                </tr>
                                <tr>
                                        <th>RAM</th>
                                        <td>60%</th>
                                </tr>
                                <tr>
                                        <th>Apdex</th>
                                        <td>0.8</td>
                                </tr>
                                <tr>
                                        <th>Users</th>
                                        <td>388</td>
                                </tr>
                        </tbody>
                </table>
            </div>
            <div class="column_4">
                <h2 class="icon bar-chart"></h2>
                <h5 class="text normal">Highveld</h5>
                <table>
                        <tbody>
                                <tr>
                                        <th>CPU</th>
                                        <td>55%</td>
                                </tr>
                                <tr>
                                        <th>RAM</th>
                                        <td>60%</th>
                                </tr>
                                <tr>
                                        <th>Apdex</th>
                                        <td>0.8</td>
                                </tr>
                                <tr>
                                        <th>Users</th>
                                        <td>388</td>
                                </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </section>


    <footer class="bck dark padding">
        <div class="row margin-top margin-bottom">
            <div class="column_5">
                <p class="text bold big">Built with:</p>
		Arduino, Raspberry Pi, nginx, monit, pushover.net, ngrok, ruby, New Relic, Google Analytics, sinatra and Tuktuk
            </div>
            <div class="column_4">
                <p class="text bold big">Last updated:</p>
		<em>Last updated timestamp</em>
            </div>
            <div class="column_3">
                <p class="text bold big">Local IP</p>
		<em>my local ip</em>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/public/tuktuk.js"></script>
</body>
</html>

